{% extends 'base.html' %}

{% block titulo %}
    Notebooks
{% endblock %}

{% block cambio_contenido %}

{% for notebook in notebooks %}

<div class="card" style="width: 18rem;">
    <img src="https://www.fullh4rd.com.ar/img/productos/Pics_Prod/notebook-dell-156-latitude-3520-i51135g7-8gb-256gb-w10h-0.jpg" class="card-img-top" alt="...">
    <div class="card-body">
    <h5 class="card-title">{{notebook.name}}</h5>
    <p class="card-text">Marca: {{notebook.brand}}</p>
    <p class="card-text">Modelo: {{notebook.model}}</p>
    <p class="card-text">Procesador: {{notebook.processor}}</p>
    <p class="card-text">Precio: {{notebook.price}}</p>
    {% if request.user.is_superuser %}
            <a href="/products/update-notebook/{{notebook.id}}/" class="btn btn-primary">Editar</a>
            <a href="/products/delete-notebook/{{notebook.id}}/" class="btn btn-danger">Borrar</a>
            {% endif %}
        <a href="/products/detail-notebook/{{notebook.id}}/" class="btn btn-primary">Ver mas detalles</a>
    </div>
</div>
{% endfor %}

{% endblock %}  