{% extends 'base.html' %}

{% block titulo %}
    About Us
{% endblock %}


{% block cambio_contenido %}
<h2>Nosotros somos: </h2>
<h3>Federico Melendez - 25 años - Argentina</h3>
<h3>Federico López - 21 años - Uruguay</h3>

<h3>Para ambos son nuestros primeros pasos en el mundo de la programación, por lo tanto no poseemos experiencia pero dedicándole horas pudimos hacer esto. </h3>
<h2>¿Por qué decidimos meternos en este mundo?<h2>

<h3>Fede Melendez "Estoy en constante contacto con el tema de computadoras ya que trabajo con ellas, si bien no es lo mismo, están relacionados, siempre me interesó empezar con programación hasta que me decidí"<h3>

<h3>Fede López "Principalmente porque en mi grupo de amigos siempre se habló de esto, porque algunos se dedican a ello. Quise probar y me gustó."</h3>

<h3>Nuestro proyecto se trata de una página web de venta de insumos informáticos, lo que más desarrollamos fue la parte de carga de productos y su administración a través de un panel de control personalizado.</h3>
{% endblock %}