<!DOCTYPE html>
<html lang="en">
    {% extends 'index.html' %}
    {% load static %}
{% block titulo %}
    About Us
{% endblock %}
<body>
    {% block cambio_contenido %}
    
        <div class="about">
            <div class="container">
            <div class="row d_flex">
                <div class="col-md-5">
                    <div class="about_img">
                        <figure><img src="/static/images/about_img.png" alt="#"/></figure>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="titlepage">
                        <h2>Quienes Somos?</h2>
                        <p>Somos Federico Melendez y Federico Lopez . Estamos en nuestros primeros pasos en el mundo de la programacion. Ambos nos metimos de lleno al curso para aprender y por que nos atrae el mundo de la informatica. Nuestro proytecto como verán se trata de una pagina de ventas de articulos informaticos tanto de notebooks, monitores o perifericos. Esperamos con ansias que haya sido de su agrado.</p>
                    </div>
                </div>
            </div>
            </div>
        </div>
    {% endblock %}
</body>
</html>
