{% extends 'base.html' %}

{% block titulo %}
    Busqueda productos
{% endblock %}

{% block cambio_contenido %}

    {% for notebook in notebooks %}
    
    <div class="card" style="width: 18rem;">
        <img src="https://www.fullh4rd.com.ar/img/productos/Pics_Prod/notebook-dell-156-latitude-3520-i51135g7-8gb-256gb-w10h-0.jpg" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">{{notebook.name}}</h5>
            <p class="card-text">Precio: {{notebook.price}}</p>
            <p class="card-text">Stock: {{notebook.stock}}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    {% endfor %}

{% endblock %}
