<!DOCTYPE html>
<html lang="en">
    {% extends 'index.html' %}
    {% load static %}
{% block titulo %}
    Borrar Monitores
{% endblock %}
<body>
    {% block cambio_contenido %}
        <div class="card" style="width: 18rem;">
            <img src="{{monitor.image.url}}" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">{{monitor.name}}</h5>
            <p class="card-text">Marca: {{monitor.brand}}</p>
            <p class="card-text">Modelo: {{monitor.model}}</p>
            <p class="card-text">Pantalla: {{monitor.display}}</p>
            <p class="card-text">Stock: {{monitor.stock}}</p>
            <p class="card-text">Precio: {{monitor.price}}</p>
            </div>
        </div>
        <form action="" method="POST">
            {% csrf_token %}
                <p><input type="submit" value="Borrar"></p>
        </form>
    {% endblock %}

</body>
</html>

